<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
      <div class="navbar-nav">
        <a class="navbar-brand" href="{% url 'index' %}">BRAND</a>
        <a class="nav-link" href="{% url 'admin:index' %}">ADMIN</a>
        <a class="nav-link" href="{% url 'basic_app:other' %}">OTHER</a>
      </div>
  </div>
</nav>
  <div class="container">
    {% block body_block %}
    {# Anything outside of this will be inherited if you use extend.#}
    {% endblock %}
  </div>
</body>
<script src="{% static 'js/bootstrap.js' %}"></script>
</html>
